.paginate-controller-main {
  text-align: right;

  .paginate-controller-sub {
    direction: ltr;

    .pageBtn {
      display: inline-block;
      margin: 0 4px;
      cursor: pointer;

      p {
        border: 1px solid $new-lightgreyDarker;
        border-radius: 5px;
        padding: 8px 10px;
        margin: 0;

        &:hover {
          background: lighten($new-lightgreyDarker, 40%);
        }

        &.active {
          background: $new2;
          color: #fff;
        }
      }

      &.glbBtn {
        p {
          border: none;
          background: $new-lightgreyDarker;

          &:hover {
            background: darken($new-lightgreyDarker, 20%);
          }
        }
      }
    }
  }
}
