.add-to-cart {
  &.catalog {
    // position: absolute;
    // bottom: 0;
    //background:$c3;
    &.before-add {
      &:hover {
        background: $new2;
        border: 1px solid $new2;

        .wrapp {
          p {
            color: #fff;
          }
        }
      }
    }

    &.after-add {
      bottom: 0;

      //top:0;
      .unit-comment {
        font-size: 12px !important;
        margin-top: 8px !important;
        width: 100% !important;
        text-align: right !important;
      }
    }

    .wrapp {
      // padding:10px !important;
      // //padding: 0 !important;
      // min-height: auto !important;

      input {
        width: 90% !important;
      }
    }

    .added {
      img {
        width: 15px;
        height: auto !important;
        display: inline-block !important;
        vertical-align: middle !important;
      }

      p {
        color: #fff !important;
        display: inline-block !important;
        vertical-align: middle !important;
        font-size: 12px !important;
        margin-right: 5px !important;
      }
    }

    .sum-cont {
      &.add-to {
        width: 100%;
        text-align: left;
        margin-left: 15px;
        margin-top: 5px;

        h3 {
          display: inline-block;
          position: relative;
          font-size: 18px;
          color: #fff;

          &.h3-1 {
            font-weight: 400;
            font-size: 18px;
          }

          &.h3-2 {
            margin-right: 5px;
            font-weight: 600;

            &:before {
              position: absolute;
              content: '₪';
              font-weight: 400;
              left: -15px;
            }
          }
        }
      }
    }

    .add-to-cont-after {
      background: #fff;
      //border: 1px solid black !important;
      //margin-top:10px;

      img {
        filter: brightness(0) invert(0);
        margin-top: 6px !important;
      }

      input {
        margin: 0 auto;
        display: block;
        color: black !important;
        height: 100%;
        background: transparent;
        margin: 0 auto;
      }

      .fx-btn {
        &:hover {
          background: #eee !important;
        }

        &:active {
          .plus-minus {
            color: #fff !important;
            position: relative;
            background: $new2 !important;
          }
        }
      }
    }
  }

  &.list-view {
    position: relative;
    margin-top: 0px;
    max-width: 90%;

    .product-page {
      height: 35px;
      border: 1px solid $new2;

      .wrapp {
        padding: 0 10px 0 10px !important;

        .add-to-cont-before {
          align-items: center;

          p {
            margin: 0;
            color: $new2;
            line-height: 35px;
            font-size: 14px;
          }

          .super-img {
            //margin-top:4px;
            img {
              //filter: brightness(0) invert(1);
              width: 24px;
            }
          }
        }
      }

      &:hover {
        .wrapp {
          .add-to-cont-before {
            p {
              color: #fff;
            }

            .super-img {
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
      }
    }

    &.after-add {
      .product-page {
        background: transparent;

        .wrapp {
          padding: 0 0 0 0 !important;
        }
      }

      .add-to-cont-after {
        margin-top: 0;
        min-height: 35px;
        background: transparent;

        .input-cont {
          position: relative;

          input {
            border: none;
            text-align: center;
          }
        }

        .fx-btn {
          img {
            width: 10px;
            height: 20px;
            display: block;
            margin: 0 auto;
            margin-top: 8px !important;
          }

          &:hover {
            background: #e6e6e673 !important;
          }
        }
      }
    }
  }
}

.productAddToCartStandAlone {
  background: #fff;
  .add-to-cont-after {
    margin-top: 0;
    min-height: 35px;
    border: 1px solid $new2 !important;
    height: 35px;
  }
  img {
    filter: brightness(0) invert(0);
    margin-top: 6px !important;
  }
  .input-cont {
    position: relative;
    height: 35px;
    input {
      margin: 0 auto;
      display: block;
      color: $new2 !important;
      height: 34px;
      line-height: 35px;
      background: transparent;
      margin: 0;
      width: 92%;
      border: none;
      text-align: center;
      border-right: 1px solid $new2;
      border-left: 1px solid $new2;
    }
  }

  .fx-btn {
    height: 35px;
    cursor: pointer;
    img {
      width: 15px;
      margin: 0 auto;
      display: block;
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }
    &:hover {
      background: #eee !important;
    }
    &:active {
      .plus-minus {
        color: #fff !important;
        position: relative;
        background: $new2 !important;
      }
    }
  }
}
